body{
  background-color:#282828;
}
#navbar, #navbar a, h1, h2{
 font-family: 'Inclusive Sans', sans-serif;
 text-align:center;
}
h1, h2{
  color:#f2f2f2;
  text-align:center;

}
h1{
  font-size:50;
}
#navbar {
  /*background: linear-gradient(#370083,#bb86fc);*/
  background:rgba(255, 255, 255, 0.5);
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex; /* Usar flexbox para alinear elementos en línea */
  align-items: center; /* Centrar verticalmente los elementos */
  justify-content: space-between; 
  border:1px solid #f2f2f2;
    padding: 5 20px; /* space between childrens */
    position: fixed; 
    top: 10; /* to the top*/
    z-index: 999; /* Z-index to not get covered */
}

#navbar a {
  text-decoration: none; /* Quitar subrayado de los enlaces */
  color: #f2f2f2; /* Color de texto blanco más tenue */
  margin: 0 30px; 
  border:1px solid #878683;
  border-radius:10%;
  padding:5px;
  background-color:transparent;
  margin-right: 10px; /* space between  'li' */
    font-size:20px;
    position:relative;
    left:-40;
}
iframe{
  display: flex; /* Usar flexbox para alinear elementos en línea */
  align-items: center; /* Centrar verticalmente los elementos */
  justify-content: space-between;
  width: 320px;
  height: 570px;
  padding-left:50px;
  padding-top:10px;
}

main{
position:absolute;
top:70;
}
         /*---------social icons----------*/
.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  width:100%;
  position:relative;
  left:60px;
}
.me {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  overflow: hidden;
  border: 8px solid transparent;
  transition: border 0.5s ease;
  animation: borderMove 4s infinite linear;
  position:relative;
  left:15px;
}

@keyframes borderMove {
  0% {
    border-image-source: linear-gradient(to right top, violet, purple);
    border-image-slice: 1;
  }
  25% {
    border-image-source: linear-gradient(to right bottom, indigo, purple);
    border-image-slice: 1;
  }
  50% {
    border-image-source: linear-gradient(to left top, violet, purple);
    border-image-slice: 1;
  }
  75% {
    border-image-source: linear-gradient(to left bottom, violet, purple);
    border-image-slice: 1;
  }
  100% {
    border-image-source: linear-gradient(to right top, violet, purple);
    border-image-slice: 1;
  }}
.me *{
   width:100%;
   height:130%;
   object-fit: contain;
   position:relative;
   top:20;
   }
#linkedin{
   font-size:56;
   font-weight:400;
   color:white;
   margin:5px;
   margin-top:5px;
   position:relative;
   top:5px;
   left:1.5px;
   

}
#linkedin-square{
   height:60 !important;
   margin:0;
   padding:0;
   width:60 !important;
   background-color:#0072b1 !important;
   border-radius:8px;
}
#whatsapp {
   font-size:66 !important;
   font-weight:500;
   color:green;
   position:relative;
   left:40px;
}
#gmail-logo{
   width:60px;
   position:relative;
   left:80px;
}

@media screen and (min-width: 768px) {
  #welcome-section{
    font-size:200%;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-left:70%;
  margin-right:auto;
  }
  #projects{
    align-items: center;
  width: 100%;
  height: 90vh;
  margin-left:70%;
  margin-right:auto;
  }
   #contact{
    align-items: center;
  width: 100%;
  height: 90vh;
  margin-left:70%;
  margin-right:auto;
  position:relative;
  top:600px;
  }
  .me{
    align-items: center;
  }
  iframe{
    align-items: center;
  }
}

